<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Haunting</h1>
        <div class="col-6 offset-3 mb-5">
            <form action="/hauntings" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="haunting[title]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="haunting[location]" required>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile04" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" name="haunting[price]" placeholder="If tours are available">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="haunting[description]" required></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Add Haunting</button>
                </div>
            </form>
            <a class="btn btn-secondary" href="/hauntings">Cancel</a>
        </div>
    </div>