<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1509411273045-2920cee823be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1225&q=80" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Report</h5>
                        <div class="mb-3">
                            <p>This is the reporting text</p>
                        </div>
                        <form action="/hauntings/<%=haunting.id%>/report?_method=PUT" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="report">Reason</label>
                                <input class="form-control" type="text" id="report" name="account" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-danger btn-block">Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>