<% layout('/layouts/boilerplate') %>
    <h1>Welcome Home!</h1>
    <div class="row my-6">
        <div class="col-6 my-3">
            <img class="rounded my-3" style="max-height: 80vh; width: auto;" src="https://source.unsplash.com/collection/483251" alt="image">
        </div>
    </div>